:root {
    --color-blue: #ACEEEE;
    --color-blueRobot: rgba(51, 218, 204);
    --color-green:#83af9b;
    --color-black: #363636;
    --color-beige: rgb(255, 240, 220);
    --color-yellow: #f9cdad;
    --color-pink: #fe4365;
}

body, html {
    width: 100%;
    height: 100vh;  /* Ensure that 'body' and 'html' occupy the full visible height */
    margin: 0;
    overflow: hidden; /* Hide any content that exceeds the set dimensions */
}

.robot-container {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of elements */
    justify-content: center;     /* Center the elements horizontally */
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: flex-start; /* Allow child elements to start from the top */
}

.robot-image {
    width: 75vh;
    height: auto;  /* Adjust the height proportionally */
    position: absolute; /* Position absolutely within the container */
    right: 2%; /* Small distance from the right edge */
    bottom: 1%; /* Small distance from the bottom edge */
}

.speech-bubble {
    font-size: 3.5vh;
    color: var(--color-black);
    background-color: var(--color-beige);
    padding: 1.5em;
    border-radius: 20px;
    box-shadow: -4vh -4vh var(--color-blue);
    position: absolute; /* Absolute positioning for better control */
    left: 4%; /* Adjust this value to bring the bubble closer to the image */
    top: 30%; /* Raise the bubble higher on the page */
    transform: translateY(-50%); /* Adjust vertical position to maintain vertical center */
    width: 45%; /* Fixed width */
    max-width: 50%; /* Maximum width limit */
    word-wrap: break-word; /* Break long words */
    text-align: justify; /* Align text neatly */
}

.speech-bubble:after {
    transform: translatey(-0px) scaleX(-1);
    content: ".";
    font-weight: bold;
    font-size: 10vh;
    text-shadow: 0.5vh -0.6vh var(--color-blue);
    text-align: left;
    width: 10vh;
    height: 1.5vh;
    line-height: 5vh;
    border-radius: 20px;
    background-color: var(--color-beige);
    position: absolute;
    display: block;
    bottom: -6vh;
    right: -2.5vh;
    box-shadow: 0.7vh -0.8vh var(--color-blue);
    z-index: -2;

}

button {
    padding: 0.5em 0.5em;
    font-size: 0.5em;
    cursor: pointer;
    border: none;
    background-color: var(--color-green);
    color: white;
    border-radius: 8px;
    display: inline-block;
    position: absolute;
    opacity: 0.5; /* Initially more faded */
    transition: opacity 0.3s ease; /* Smooth opacity transition */
    filter: brightness(85%); /* Support in modern browsers */
}

button:hover {
    opacity: 1.0; /* Fully visible when mouse is hovering */
    filter: brightness(100%); /* Support in modern browsers */

}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: center; /* Vertical alignment */
    position: absolute;
    top: 90%; /* Vertical positioning */
    right: 10%; /* Adjust as needed */

}

#backButton {
    margin-right: 3.5em; /* space between butons */
}

#startButton {
    margin-left: 0;
}


